<div class="tela">
  <div class="container" *ngIf="!alert">
    <div class="div-img">
      <img [src]="forgotImg" alt="Logo">
    </div>
    <div>
      <input type="text" placeholder="Email" />
    </div>

    <button class="btn-save" (click)="recuperar()">Recuperar senha</button>
    <button class="btn-cancel" [routerLink]="['/login']">Voltar ao login</button>

  </div>

  <div class="container" *ngIf="alert">
    <div class="div-img">
      <img [src]="successImg" alt="Logo">
    </div>
    
    <h2>Sua solicitação de recuperação de senha foi realizada com sucesso !</h2>
    <h3>Confira seu email para alterar a senha.</h3>

    <button class="btn-save" [routerLink]="['/login']">Continuar</button>

  </div>
</div>