/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e0e0e0 ;
}

.tela {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-save {
  background: #2454b5;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
} 

.btn-cancel {
  background: #a09c96;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

h2, h3 {
  font-family: 'Arial';
}